@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #000000;
  font-family: 'Poppins', sans-serif;
}

header {
  background-color: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.logo {
  width: 4rem;
  margin-bottom: 2rem;
}
.app-des {
  color: white;
  font-weight: 200;
  margin-bottom: 1rem;
}
.search {
  color: #fff;
  font-family: inherit;
  background-color: transparent;
  border: 2px solid #e5e6ed;
  border-radius: 50px;
  font-size: 1rem;
  padding: 0.5rem 1rem;
}

.search::placeholder {
  color: #ffffff;
}

.search:focus {
  background-color: #000000;
  outline: none;
  width: 30rem;
}

main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.app-des {
  text-decoration: none;
  font-size: 2rem;
}
.movie {
  background-color: #242425;
  border-radius: 3px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  overflow: hidden;
  position: relative;
  margin: 1rem;
  width: 400px;
}

.movie img {
  width: 100%;
}

.movie-info {
  color: #eee;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem 1rem;
  letter-spacing: 0.5px;
}

.movie-info h3 {
  margin: 0;
}

.movie-info span {
  background-color: #080808;
  border-radius: 3px;
  font-weight: bold;
  padding: 0.25rem 0.5rem;
}
.movie-info span.green {
  color: rgb(39, 189, 39);
}

.movie-info span.orange {
  color: orange;
}

.movie-info span.red {
  color: rgb(189, 42, 42);
}

.overview {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 2rem;
  position: absolute;
  max-height: 100%;
  overflow: auto;
  left: 0;
  bottom: 0;
  right: 0;
  transform: translateY(101%);
  transition: transform 0.3s ease-in;
}

.overview h3 {
  color: white;
  margin: 1rem;
}

.movie:hover .overview {
  transform: translateY(0);
}
